# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_API_TRPC_PATH=/trpc

# COOKIES
COOKIE_TOKEN_MAX_AGE_IN_SECONDS=900 # 15minutes
COOKIE_REFRESH_TOKEN_MAX_AGE_IN_SECONDS=7776000 # 90 days