# Database
DATABASE_URL="postgresql://user:password@localhost:5432/database_name"

# Server Configuration
PORT=3001
HOST=0.0.0.0

# Environment
NODE_ENV=development

# CORS
CORS_ORIGIN="*"

#JWT
JWT_SECRET=topsecretjwttoken=
JWT_TOKEN_EXPIRES_IN_MINUTES=15
# 129600 = 90 days
JWT_REFRESH_TOKEN_EXPIRES_IN_MINUTES=129600

#COOKIE
COOKIE_SECRET=topsecretcookie
COOKIE_TOKEN_MAX_AGE_IN_SECONDS=900 # 15minutes
COOKIE_REFRESH_TOKEN_MAX_AGE_IN_SECONDS=7776000 # 90 days

#TRPC
TRPC_PATH="trpc"

#SWAGGER
SWAGGER_PATH='docs'
